<div class="card shadow zoom">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="submit" class="close float-right" @onclick="(async () => await DeletePersonAsync(Person))">
                    <span aria-hidden="true" style="color:red">&times;</span>
                </button>

                <button type="submit" class="@EditButtonCssClass close float-left" @onclick="(() => OnEditClick())">
                    <span class="oi oi-pencil" aria-hidden="true"></span>

                    @if (IsEditing)
                    {
                        <small>Cancel</small>
                    }
                    else
                    {
                        <small>Edit</small>
                    }

                </button>
            </div>
        </div>


        @if (IsEditing)
        {
            <div class="mb-4 text-center dark-font">
                <EditForm Model="PersonToUpdate" OnValidSubmit="UpdatePersonAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group mt-3 mb-4">
                        <label for="personName">Name</label>
                        <InputText id="personName" class="form-control" @bind-Value="@Person.Name" style="text-align:center" />
                    </div>

                    <div class="card-text form-group">
                        <label for="personIncome">Monthly Income (After Tax)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@UserConfig.Currency.Symbol</span>
                            </div>
                            <InputNumber id="personIncome" class="form-control" @bind-Value="@Person.Income" style="text-align:center" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <button type="submit" class="close float-right text-success">
                                <span class="oi oi-check" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
        else
        {
            <div class="row h-100">
                <div class="col-md-3 text-center mb-3 my-auto">
                    <span class="oi oi-person person-card-icon dark-font"></span>
                </div>

                <div class="col-md-9 dark-font mt-3">
                    <h3>@Person.Name</h3>

                    <div class="row mt-4">
                        <div class="col">
                            <p class="mb-1"><strong>Income</strong></p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <p class="mb-0">Weekly:</p>
                            <p>@FinanceService.FormatToCurrency(UserConfig, WeeklyIncome)</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="mb-0">Monthly:</p>
                            <p>@FinanceService.FormatToCurrency(UserConfig, Person.Income)</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="mb-0">Yearly:</p>
                            <p>@FinanceService.FormatToCurrency(UserConfig, YearlyIncome)</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p class="mb-0">
                                <strong>Monthly Expenses:</strong>
                            </p>
                            <p>
                                @if (Person.Expenses.Count == 0)
                                {
                                    <span>No <a href="expenses">expenses</a> have been added for this person.</span>
                                }
                                else
                                {
                                    <span>
                                        @FinanceService.FormatToCurrency(UserConfig, Person.Expenses.Sum(e => e.Cost))
                                    </span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

